.productCompo {
  width: 100%;

  .productMealkitImg,
  .productFoodImg {
    width: 100%;
    height: 380px;
  }
  .productMealkitImg {
    background: url('https://images.unsplash.com/photo-1610415946035-bad6fc9f5b8e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80')
      no-repeat center;
    background-size: cover;
  }
  .productFoodImg {
    background: url('https://images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=853&q=80')
      no-repeat center;
    background-size: cover;
  }
  .productMealkitImg,
  .productFoodImg {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 48px;
      color: #fff;
    }
  }
  .productCompoDisplay {
    display: flex;
    justify-content: center;
    margin: 0 100px;

    .productCompoList {
      width: 80%;
    }
  }
}
