.productCompo {
  width: 100%;

  .productMealkitImg,
  .productFoodImg {
    width: 100%;
    height: 380px;
  }
  .productFoodImg {
    background: url('https://images.unsplash.com/photo-1503810473512-f64b56827964?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80')
      no-repeat center 80%;
    background-size: cover;
  }
  .productMealkitImg {
    background: url('https://images.unsplash.com/photo-1613152834526-30fd8ebd8b61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=686&q=80')
      no-repeat center 30%;
    background-size: cover;
  }
  .productMealkitImg,
  .productFoodImg {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 48px;
      color: #fff;
    }
  }
  .productCompoDisplay {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0 100px;

    .productCompoList {
      width: 80%;
    }
    .productCompoItem {
      width: 80%;
    }
  }
}
