.order-reservation {
  width: 100%;
}

.my-term-sort-box {
  width: 80%;
  margin: 0 auto;
  .my-term-sort {
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    height: 114px;
    padding: 36px 0 36px 0;

    .month-search {
      width: 109px;
      height: 40px;
      border: 1px solid #666666;
      color: #666666;
      position: relative;
      font-size: 14px;
      background-color: #ffffff;
      cursor: pointer;
    }
  }
}

.my-order-step {
  height: 126.5px;
  display: flex;
  justify-content: center;
  text-align: center;

  .my-order-list-box {
    .my-order-step-list {
      font-size: 24px;
      font-weight: 500;
      display: flex;
      font-size: 24px;
      font-weight: 500;

      .my-order-step-list-text {
        margin-top: 10px;
      }

      .my-order-step-list::after {
        content: '>';
      }

      .my-order-step-list:last-child::after {
        content: none;
      }
    }
  }
}

.my-order-list {
  height: 179px;

  .my-order-list-box {
    height: 119px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .exclamation {
      width: 80px;
      height: 80px;
      color: #bdbdbd;
    }

    .my-order-list-text {
      margin-top: 10px;
      color: #bdbdbd;
    }
  }
}

.my-order-info {
  display: flex;
  width: 100%;
  justify-content: center;
  .my-order-box {
    background-color: #f6f6f6;
    width: 80%;
    display: flex;
    justify-content: center;
    font-size: 13px;
    line-height: 19.89px;
    color: #999;

    .my-order-info-text {
      font-size: 14px;
      font-weight: bold;
      color: #333333;
    }

    .my-order-info-list {
      list-style: disc;
    }
  }
}
