.cartList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #ddd;
  .cartListCheckBox {
    input {
      accent-color: #2d6806;
    }
  }
  .cartListItem {
    display: flex;
    justify-content: center;
    align-items: center;
    .cartListItemImg {
      width: 100px;
      height: 100px;
      border: 1px solid #000;
      margin-right: 10px;
    }
  }
  .cartListQuantity {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px 10px;

    p {
      margin: 0 10px;
    }
  }

  .cartListBtn {
    button {
      background-color: #fff;
      color: rgb(124, 124, 124);
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 12px;
      padding: 5px 20px;
    }
  }
}
