.slideshow {
  margin: 0 auto;
  overflow: hidden;

  .slideshowSlider {
    white-space: nowrap;
    width: auto;
    .slide {
      display: inline-block;
      background-size: cover;
      width: 100%;
      .sliderimg {
        height: 700px;
      }
    }
  }
  // .slideshowDots {
  //   text-align: center;
  // }
}
