.slideshowImg {
  margin: 0;

  .slideshowSlider {
    white-space: nowrap;

    .slide {
      display: inline-block;
      background-size: cover;
      width: 100%;
      .sliderimg {
        height: 600px;
        width: 100%;
      }
    }
  }
}
