.slideshowImg {
  margin: 0;
  width: 100vw;
  .slideshowSlider {
    white-space: nowrap;

    .slide {
      display: inline-block;
      background-size: cover;

      .sliderimg {
        height: 500px;

        object-fit: cover;
      }
    }
  }
}
