* {
  box-sizing: border-box;
}
.mainTop {
  height: 400px;
  background-color: #2d6806;
}

.mainBest {
  width: 20vw;
  height: 42px;
  padding: 30px;
  .bestTitle {
    height: 42px;
    font-size: 28px;
    font-weight: 500;
    color: #333333;
  }
  .goToBest {
    height: 36px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: 500;
    border-radius: 40px;
    background-color: #2d6806;
    color: white;
  }
}
