* {
  box-sizing: border-box;
}
.mainTop {
  height: 500px;
}

.mainBestContainer {
  width: 200px;
  height: 300px;
  padding: 30px;

  .bestTitleFont {
    height: 50px;
    width: 300px;
    font-size: 28px;
    font-weight: 500;
    color: #333333;
  }
}
