* {
  box-sizing: border-box;
}
.mainTop {
  height: 400px;
}

.mainBestContainer {
  width: 100vw;
  height: 20vw;
  padding: 30px;
  .bestTitleFont {
    height: 42px;
    font-size: 28px;
    font-weight: 500;
    color: #333333;
  }
}
