* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Noto Sans', sans-serif;
  src: url(../asset/fonts/Noto_Sans/NotoSans-Regular.ttf);
}

@font-face {
  font-family: 'Righteous';
  src: url(../asset/fonts/Righteous/Righteous-Regular.ttf);
}
