@mixin signup-box {
  border: 1px solid #e6e6e6;
  margin-bottom: 20px;
  height: 50px;
  cursor: text;
  font-size: 14px;
  border-radius: 6px;
  line-height: 1.5;
  letter-spacing: -0.7px;
  vertical-align: middle;
  word-spacing: 0px;
  padding: 0 12px 0 12px;
}

@mixin signup-choose-box {
  border: 1px solid #e6e6e6;
  margin-bottom: 20px;
  height: 50px;
  cursor: text;
  font-size: 14px;
  border-radius: 6px;
  color: #767171;
  padding: 0 12px 0 12px;
}
