.recipe {
  margin-top: 80px;
  margin-bottom: 60px;
  .recipeTitle {
    padding: 0 20px;
    .todayTitle {
      font-size: 28px;
    }
    .recipeExplain {
      margin-top: 5px;
      font-size: 16px;
    }
  }
  .recipeImgSlide {
  }
}
