.productCompoItem {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 0;
  box-sizing: border-box;
  .productListItemsBox {
    width: 30%;
    height: 300px;
    margin: 20px 10px;
    margin-top: 40px;
    cursor: pointer;

    .productListItemsName {
      margin: 10px 0;
    }

    .productListItemsImg {
      width: 100%;
      height: 90%;
      position: relative;
      img {
        width: 100%;
        height: 100%;
      }

      svg {
        display: block;
      }

      .cartIcon {
        position: absolute;
        bottom: 5px;
        right: 5px;
        width: 40px;
        height: 40px;
        background-color: #000;
        opacity: 0%;
        border-radius: 100%;
        padding: 5px;
        color: #fff;
        transition: 0.5s;
        cursor: pointer;
      }
    }
    .productListItemsPrice {
      margin: 0;
    }
    .productListItemsImg:hover .cartIcon {
      opacity: 60%;
    }
    .productListItemsImg:hover .cartIcon:hover {
      opacity: 100%;
      transition: 0.5s;
    }

    .productListItemsIcon {
      margin: 10px;
      margin-left: 0;
      margin-bottom: 20px;
      span {
        margin-right: 20px;
        color: #a0886f;
      }
    }
  }
}
