.orderedItemsBox {
  width: 180px;
  height: 450px;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;

  .userBuyItem {
    height: 180px;
    margin-bottom: 20px;
  }
  .userBuyItemName {
    font-size: 18px;
    text-align: center;
  }
}
