.collection {
  margin: 100px 0;
  .eventBox {
    display: flex;
    justify-content: center;

    .todayDiscount {
      display: flex;
      flex-direction: column;
      width: 500px;
      background-image: url('https://images.unsplash.com/photo-1609710219171-f86ae613c8d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx2aXN1YWwtc2VhcmNofDF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
      background-size: 100%;
      background-repeat: no-repeat;
      object-fit: fill;
      .todayDiscountTitle {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 15px;
        font-size: 26px;
        font-weight: 500;
        color: #fff;
      }
      .discountPrice {
        margin-left: 0;
        font-size: 40px;
        font-weight: 500;
      }
    }
    .attendanceStory {
      margin-left: 20px;
      .checkAttendence {
        object-fit: fill;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: url('../../../../../../public/images/mypage.jpg') 50%,
          50% no-repeat;
        height: 273.734px;
        width: 579.953px;
        font-weight: 500;
        color: white;
        .attendencePeriodBox {
          display: flex;
          flex-direction: column;
          margin-left: px;
          .month {
            font-size: 26px;
          }
        }
      }
      .brandStory {
        height: 273.734px;
        width: 579.953px;
        margin-top: 21.5px;
        background-color: yellow;
        background-image: url('../../../../../../public/images/brand.jpg');
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        .storyFont {
          color: white;
          font-size: 36px;
          font-weight: 500;
        }
      }
    }
  }
}
