.notice {
  height: 48px;
  width: 80%;
  margin: 48px auto 0 auto;
  display: flex;
  padding: 18px;
  opacity: 0.4;
  border-radius: 8px;
  background-color: #a17977;
  .alert {
    color: black;
    width: 100px;
  }
  .alertContent {
    font-size: 18px;
    height: 16px;
    overflow: hidden;
    transition: transform 2s;
    color: black;
    p {
      transition: all 500ms;
    }
  }
}
