.monBox {
  display: inline-block;

  .monList {
    margin: 5px;
    padding: 20px;
    font-size: 16px;
    .monListBox {
      background-color: #e6e6e6;
    }
    .bestPrice {
      padding: 10px;

      .price {
        color: #333333;
      }
    }
  }
}
