.monBox {
  display: inline-block;

  .monList {
    margin: 5px;
    padding: 20px;
    font-size: 16px;
    .monListBox {
      background-color: #e6e6e6;
      text-align: center;
      object-fit: cover;
      width: 200px;
      height: 200px;
    }
    .bestPrice {
      padding: 10px;

      .price {
        color: #333333;
      }
    }
  }
}
