.bestMain {
  width: 100vw;
  position: relative;
  .mainImg {
    width: 100%;
    height: 380px;
  }
  .bestFont {
    position: absolute;
    font-size: 60px;
    font-weight: 700;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: -5px;
    color: white;
  }
}
.btnBox {
  border-bottom: 1px solid #e6e6e6;
  padding: 20px;
  .bestBtn {
    width: 105px;
    height: 40px;
    background-color: #6c801a;
    border-radius: 150px;
    border-style: none;
    margin-left: 290px;
    font-size: 18px;
    font-weight: 500;
    color: white;
  }
}
