.nav-header {
    color: #333;
    font-family: 'Noto Sans';
    font-size: 13px;
    .wrapper {
      max-width: 1540px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .nav-hover {
      &:hover {
        position: fixed;
        width: 100%;
        background: white;
        transition: background-color 0.4s ease-in-out;
        .nav-btns {
          color: #333;
        }
      }
    }
  
    .nav-original {
      position: fixed;
      width: 100%;
      z-index: 100;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), transparent);
      transition: background-color 0.4s ease-in-out;
  
      .nav-btns {
        color: #fff;
      }
    }
  
    .nav-changed {
      position: fixed;
      width: 100%;
      background: white;
      transition: all 0.4s ease-in-out;
      .nav-btns {
        color: #333;
      }
    }
  
    .nav-wrapper {
      .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 10px 0px 25px;
        font-size: 12px;
        padding: 9px 9px 9px 0px;
  
        .nav-left-box {
          display: flex;
          align-items: center;
  
          .nav-left-box-btn {
            margin-top: 8px;
            font-weight: 550;
            .nav-list-dep1 {
              display: flex;
            }
          }
  
          .nav-left-box-main-btn {
            font-size: 28px;
            margin-right: 25px;
            font-family: 'Righteous';
            &:hover {
              color: #6c801a;
            }
          }
  
          .nav-left-box-btns {
            margin-right: 50px;
            &:hover {
              color: #6c801a;
            }
          }
        }
  
        .nav-right-box {
          display: flex;
          align-items: center;
          margin-top: 6px;
  
          .nav-right-box-icons {
            font-size: large;
            margin-right: 30px;
  
            .nav-right-box-icon-group {
              margin-right: 10px;
              &:hover {
                color: #6c801a;
              }
            }
          }
  
          .hovered-login-signup-btns {
            margin-right: 8px;
            font-size: 10px;
            font-weight: bold;
            &:hover {
              color: #6c801a;
            }
          }
        }
      }
    }
  
    .nav-dep1-item {
      &:hover {
        max-height: 100vh;
        visibility: visible;
        transition: all 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
    .nav-list-dep2-box {
      position: absolute;
      width: 100%;
      left: 0;
      background-color: #fff;
      visibility: hidden;
      overflow: hidden;
      max-height: 0;
      border-top: 1px solid #e6e6e6;
  
      .wrapper {
        padding: 0px 170px;
  
        .nav-flex-box {
          display: flex;
          align-items: flex-start;
          padding: 40px;
  
          .nav-list-dep2 {
            display: flex;
            flex-wrap: wrap;
            flex: 1 1 auto;
            width: 1%;
            .nav-dep2-item {
              flex: 0 0 20%;
              width: 20%;
            }
          }
        }
      }
    }
  }
  