.nav-header {
  width: 100%;
  z-index: 100;
  background: linear-gradient();
  .nav-wrapper {
    font-family: 'Noto Sans';
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
    font-size: 13px;
    padding: 10px 10px 10px 0px;

    .nav-left-box {
      .nav-left-box-main-btn {
        font-size: 30px;
        margin-right: 25px;
        font-family: 'Righteous';
      }

      .nav-left-box-btns {
        margin-right: 40px;
        &:hover {
          color: black;
        }
      }
    }
  }
}
