.menuBoxBox {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  margin: 0;
  .menuBox {
    width: 73%;
    object-fit: cover;
    display: flex;
    justify-content: space-around;
    gap: 25px;
    overflow: hidden;
    .best {
      width: 18%;
      margin: 1% 0;
      .font {
        width: 180px;
        margin-top: 10px;
        margin-left: 30px;
        font-size: 15px;
        font-weight: 500;
        .menuuBoxName {
          margin-bottom: 5px;
        }
        .menuBoxPrice {
          margin-left: 20px;
        }
      }
      img {
        width: 100%;
      }
      .bestMenu {
        width: 150px;
        height: 150px;
        object-fit: cover;

        transition: all 0.2s linear;
        border-radius: 8px;
        cursor: pointer;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
