* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.active {
  border: 2px solid #1db9b9;
  transform: scale(1.3);
  transition: all 300ms;
}

.slideshow {
  position: relative;
}

.mainImg {
  transition: all 500ms;
}

.actions {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.actions button {
  background: #0000003d;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
  padding-top: 5px;
}

.actions button:active {
  background: #000000a2;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
}

.bestslide {
  width: 300px;
  height: 500px;
  display: flex;
  .bestslideImg {
    width: 300px;
  }
}
