.mainbest {
  width: 100vw;
  display: flex;
  .container {
    width: 300vw;
    transform: translate(-20vw);
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
    text-align: center;
    .inner {
      display: inline-block;
      width: 200px;
      img {
        width: 600px;
        height: 100px;
      }
    }
  }
}

.moreLookBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  .moreLook {
    width: 180px;
    height: 48px;
    margin: 0 autos;
    border-radius: 8px;
    border-style: none;
  }
}
