.teawear-item-container {
  padding: 30px;
  .teawear-item-img {
    width: 220px;
  }
  .teawear-item-name {
    font-size: 15px;
    color: #666;
    margin-top: 15px;
  }
  .teawear-item-price {
    font-size: 20px;
    color: #333;
  }
}
