.page-btn-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  .page-btn {
    border-radius: 100%;
    border: none;
  }
  .gradient-btn {
    margin-right: 15px;
    font-size: 12px;
    background-color: transparent;
  }
}
