.page-btn-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  .page-btn {
    border-radius: 100%;
    border: none;
    background-color: transparent;
    margin-top: 20px;
    margin-right: 30px;
  }
}
